*{
    margin: 0px;
    padding: 0px;
}
body {
    width: 100%;
    height: 100%;
}
.nav-bar{
    width: 100%;
    height: 100px;
    background-image: url(../img/BG__site.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container-logo{
    width: 100%;
    height:100%;
    display: flex;
    justify-content:center;
    align-items:center;
}
.logo img{
    width: 100%;
    height: 80px;
}
main{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    width: 100%;
    height: 100%;
    background-image: url(../img/BG__site.jpeg);
}
.browser{
    width: 94%;
    height:2%;
    
    display: flex;
    justify-content:center;
    align-items:center;
}
.input-browser input{
    width: 250px;
    height:30px;
}

.container-characters{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    width: 80%;
    height: 100%;
    padding-top: 50px;
}
.container-character{
    margin: 5%;
    width:35%;
    height:350px;
    margin-top:25px;
    padding: 2%;
    border: 1px solid #ffe919;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
}
.nombre-principal{
    height: 20%;
    width: 100%;
    font-size: 22px;
    color:grey;
    display: flex;
    justify-content:center;
    align-items:center;
}
.container-datos{
    width: 100%;
    height:100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.imagen-character{
    width:50%;
    height:80%;
    background-color: black;
    display: flex;
    align-items:center;
}
.imagen-character img{
    width: 100%;
    height: auto;
}
.datos-character{
    width:40%;
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.datos-name{
    color:#ffff;
    font-size:20px;
    font-weight:bold;
}

.datos-texto{
    font-size:15px;
    color:#ffff;

}